html,
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 47px;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.header-link {
    display: inline-flex;
    text-decoration: none;
    font-size: 0.81rem;
    align-items: center;
    color: #000;
    opacity: 0.75;
}

.header-link:hover {
    text-decoration: underline;
}

#header-link-left {
    margin-left: 10px;
    margin-top: 13px;
    display: inline-flex;
}

#header-link-right {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 13px;
}

.header-link-left {
    padding-left: 15px;
}

.header-link-right {
    padding-right: 15px;
}

a > img {
    height: 18px;
    margin-left: 5px;
}

#user {
    border: 1px solid #222;
    border-radius: 50px;
    height: 28px;
    opacity: .7;
    margin-left: 6px;
}

#user:hover {
    opacity: 1;
}

#container {
    display: flex;
    position: relative;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    
    margin: 97px auto 0 auto;
    padding: 101px 0 19px 0;
    height: 100px;
}

@media only screen and (max-height: 750px) {
    .logo {
    margin: 55px auto 0 auto;
    }
}

.searchbar {
    display: flex;
    align-items: center;
    height: 46px;
    width: 584px;
    padding: 1px 7px 1px 7px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    box-sizing: border-box;
}

.searchbar:hover {
    box-shadow: -2px -2px 3px #eee, 2px 2px 3px #ddd, 2px -2px 3px #eee, 
        -2px 2px 3px #eee;
    border: hidden;
    transform: scale(0.996);
}

input {
    height: 38px;
    width: 520px;
    border: none;
    font-size: 16px;
    margin: 2px 0 2px 12px;
    padding-left: 2px;
}

input:focus {
    outline: none;
}


#magnifying-glass {
    padding-left: 8px;
    opacity: 0.8;
    height: 18px;
}

#microphone {
    height: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 14px;
}

.search-buttons {
    padding-top: 29px;
    padding-right: 12px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    outline: none;
    border-radius: 4px;
    padding: 9px 16px 9px 16px;
    margin: 0 6px;
    font-size: 14px;
    opacity: 0.75;
    cursor: pointer;
}

.buttons:hover {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #eee, -1px -1px 2px #eee;
}

#main-footer {
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    height: 40px;
    border-top: 1px solid #ddd;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    z-index: 2;
}

#footer-link-left {
    padding-left: 30px;
}

#footer-link-right {
    padding-right: 30px;
}

.footer-link {
    display: inline-flex;
    text-decoration: none;
    color: #5f6368;
    font-size: 0.88rem;
    align-items: center;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link-left {
    padding-right: 22px;
}

.footer-link-right {
    padding-left: 22px;
}